/* CSS declarations go here */


.vertical-align {
    display: flex;
    align-items: center;
}

.signin {
  padding: 5px;
}

img.hill {
    height:25%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

/* general styles */
html, body {
  height: 100%;
  width: 100%;
}

/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* additional sections */
#home {
  background: url(/img/wallpaper.jpg) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

.about {
   background: url(/img/wallpaper.jpg) no-repeat center center fixed; 
  display: table;
  position: relative;
  width: 100%;
}

.quote {
  background-color: rgba(1,1,1,0);
  display: table;
  position: relative;
  text-align: center;
}

h1 {
  color: #3DBEB5;
}

h2 {
  color: #80BB7E;
}

body, html {
  color: #EC7131;
}

#services {
}
#services .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#information {
  background: url(../images/estate.jpg) no-repeat top center fixed; 
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
#information .panel {
  opacity: 0.85;
}

#google_map {
  height: 500px;
}

footer {
  padding: 20px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}
